%table
  %tr
    %td= "#{@shop.name} 様"
  %tr
    %td= "\n"
  %tr
    %td= "Food_Share_Appをいつもご利用ありがとうございます。"
  %tr
    %td= "\n"
  %tr
    %td= "パスワードの再設定を行います。以下のリンク先から再設定をお願いします。"
  %tr
    %td= "\n"
  %tr
    %td= link_to '再設定はこちら', edit_shop_password_url(@shop, reset_password_token: @token)
  %tr
    %td= "\n"
  %tr
    %td= "引き続きFood_Share_Appのご利用お願いたします。"
  %tr
    %td= "\n"
  %tr
    %td= "\n"
%table
  %tr
    %td= "----------------------------------------------------------"
  %tr
    %td= "Food_Share_App事務局"
  %tr
    %td= "電話番号：〇〇〇-〇〇〇-〇〇〇〇"
  %tr
    %td= "email：〇〇〇@gmail.com"
  %tr
    %td= "住所：〇〇県〇〇市〇〇-〇-〇〇〇"
  %tr
    %td= "----------------------------------------------------------"
