.background_sign_in_image
  .user_reset_password_edit
    .user_reset_password_edit__title
      .user_reset_password_edit__title--text Food_Share_App
      .user_reset_password_edit__title--sub 〜 パスワードの再設定 〜
    .user_reset_password_edit__box
      =form_with model: @user, url: v2_user_reset_password_path(@user), html: { method: :patch }, class: 'user_reset_password_edit__box__form' do |form|
        = form.hidden_field :reset_password_token
        .user_reset_password_edit__box__form__new_password
          = form.label :password, "新しいパスワード", class: "user_reset_password_edit__box__form__new_password--label", for: "new_password"
          = form.password_field :password, autofocus: "true", autocomplete: "off", class: "user_reset_password_edit__box__form__new_password--text", id: "new_password", placeholder: "例）７文字以上の半角英数字で入力してください"
          = render partial: 'users/passwords/error_messages_edit_password', locals: {user: @user, column: 'password'}
        .user_reset_password_edit__box__form__new_password_confirmation
          = form.label :password_confirmation, "新しいパスワード(確認用)", class: "user_reset_password_edit__box__form__new_password_confirmation--label", for: "new_password_confirmation"
          = form.password_field :password_confirmation, autocomplete: "off", class: "user_reset_password_edit__box__form__new_password_confirmation--text", id: "new_password_confirmation", placeholder: "例）上記と同じパスワードを入力してください"
          = render partial: 'users/passwords/error_messages_edit_password', locals: {user: @user, column: 'password_confirmation'}
        %button{type: "submit", class: "user_reset_password_edit__box__form__submit"}
          %i.fas.fa-angle-right
          %span.user_reset_password_edit__box__form__submit--text 変更する
  .user_reset_password_tab
    %i.fas.fa-bars